apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-service-app
  labels:
    app: config-service-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-service-app
  template:
    metadata:
      labels:
        app: config-service-app
    spec:
      containers:
      - name: config-service-app
        image: realestate1234/config-server:11
        imagePullPolicy: Always
        ports:
        - containerPort: 8888
        
---

kind: Service
apiVersion: v1
metadata:
  name: config-service-svc
spec:
  selector:
    app: config-service-app
  ports:
  - port: 80
    targetPort: 8888
